@import "./variables.scss";


*, *::after, *::before {
  margin: 0;
  padding: 0;
  outline: 0;
}
.header {
    z-index: 1100;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    white-space: nowrap;
    box-shadow: rgba(199, 150, 116, 0.07) 0px 2px 0px 0px;
    display: block;
    

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 48px;
        padding: 4em 0em;
        -webkit-box-align: center;
        align-items: center;
        @media (max-width: 768px) {
                display: none;
            
        }
        
        &__in {
            align-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            -webkit-box-pack: start;
            justify-content: flex-start;
            text-transform: capitalize;
            margin-top: 0rem;
            margin-right: 0rem;
            margin-bottom: 0rem;
            margin-left: 0.7em;
            padding: 0.80em 1.2em;
            letter-spacing: 0.06em;
            text-decoration: none;
            text-transform: uppercase;
            
            
           
            &__-1 {
                display: block;
                text-decoration: none;
                font-size: 2.4em;
                font-weight: 600;
            }
        }
    }
    &__menu-box {
        display: flex;
        padding: 0.5rem;
        margin: 0rem 0.5rem;
        &__in {
            cursor: pointer;
            display: block;
            margin-left: 0.7em;
            padding: 0.80em 1.2em;
            letter-spacing: 0.06em;
            text-decoration: none;
            text-transform: uppercase;
            outline: 0;
            color: #333;
        }
    }
    &__ul {
        display: flex;
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: stretch;
        padding: 0rem 1rem;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        -webkit-box-pack: end;
        display: webkit-flex;
        display: block;
        margin-left: 0.7em;
        padding: 0.80em 1.2em;
        letter-spacing: 0.06em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1em;
        outline: 0;
        color: #333;
    }

}

.active{
    background: $color-primary;
    border-radius: 5px;
    color: #FFF;
}


.header-mb {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding-top: 0.5rem;
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

    @media (min-width: 769px) {
        display: none;

 }
}


.mobile-container {
    margin: auto;
    background-color: #fff;
    height: 500px;
    color: black;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  .topnav a.icon {
    background: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .active-mb {
    background-color: #fff;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }

  
  .icon {
    font-size: 2.5rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

.burger-mb {
  position: absolute;
  top: -5px;
  left: -25px;
  background-color: $color-primary;
  border-radius: 4px;
}

.nav-mb-font {
    color: #333;
    font-size: 1rem;
   
}
#myLinks {
  font-size: 1.2rem;
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
}

#banner {
  padding: 12em 0em;
  background:url("/assets/images/banner.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
}


.page {
    width: 100%;
    position: absolute;
    min-height: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1100;
  position: fixed;
  width: 100%;
}

.title {
  text-align:center;
  font-size: 2rem;
  font-weight: 700;
}
.title-paragraph {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.btn {
  backface-visibility: hidden;
    background-color: #ec452e;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    opacity: unset;
    border-radius: 5px;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    white-space: unset;
    color: white !important;
    font-size: 1rem !important;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #f83d24;
    border-image: initial;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all .2s;

    &:hover{
      background:rgb(236, 61, 38);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
    }
}
.btn-div {
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.oil-operations {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; 
  max-width: 100%;
}
.description-wrapper {
  background: rgba(0,0,0,.3);
  padding: 1rem;
  align-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 300ms
}
.bottom {
  color: #FFF;
}
.bottom-links {
  max-width: 80%;
  margin: 0 auto;
  font-weight: 500;

  @media (min-width: 769px)
     {
        display: flex;
        flex-wrap: wrap;
    }
}

footer h2 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: .5rem;
}
.footer-head {
  border-bottom: 1px solid #303030;
}
.footer-links li {
  line-height: 2rem;
}

.footer-links li a {
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}
.bottom-icon {
   padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 2rem;
}

.col-footer {
  margin: 10px;

  @media (min-width: 1020px)
  {
    flex-basis: 0;
  }

  @media (min-width: 769px)
   {
      flex-grow: 1;
  }

}


.inc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
}

.inc-text {
  text-align: center;
}

.inc-text a {
 color: $color-primary;
 text-decoration: none;

 &:hover {
   text-decoration: underline;
 }
}

#__next {
  height: 100%
}


.contact {
  line-height: 2rem;
}

.our-products {
  width: 100%;
  background-color: white;
  position: relative;
}

.our-products-header {
  text-align: center;
  padding: 2rem;
}

.section-title {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: none;
}

.section-paragraph {
   font-size: 1.2rem;
   margin-top: .5rem;
}
.products {
 width: auto;
 display: flex;
 flex-direction: row;
 flex-grow: 1;

 

  &__name {
      width: 150%;
      border-right: 1px solid #dddbdb;
      display: inherit;
      flex-wrap: wrap;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: center;
      flex-direction: row;
  }

  &__info {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2rem;
    line-height:2rem;
  }
}

.chemical-list {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: right;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.chemical-list-button {
    color: #fff;
    background-color: $color-secondary;
    border-color: $color-secondary;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.6666666667;

    &:hover{
      background:$color-primary;
    }
}

.chemical-list-button a {
  padding-left: 20px;
  padding-right: 20px;
}
.view-text {
  color: $color-primary;
  font-weight: 500;

  &:hover{
    color:$color-secondary;
    transform: translateY(-3px);
  }
}
.chemical-list li {
  display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}
.child-page {
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: center;
    margin-bottom: 20px;
    height: 100%;
}

.sy {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size:1rem;
}

.image-block {
  height: 20rem;
  margin: 0 0 20px;
}

.row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.col-6 {
  width: 50%
}